<!DOCTYPE html>
<html>
<head>
  <LINK REL=StyleSheet HREF="/static/css/style.css" TYPE="text/css" MEDIA=screen>

</head>
<body>



<form action="/saludo" method="POST" class="form1">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="pwd">Password:</label><br>
  <input type="password" id="pwd" name="pwd"><br><br>
  <input type="submit" value="Submit">
</form>

¿Aún no estas registrado?<br> Registrate <a href="/registro">Aquí</a>

</body>
</html>
